@media only screen and (min-width: 200px) and (max-width: 575px){
   /*  ! Header Section Start */
 header{
    width: 100%;
 }   
 nav{
    max-width: 100%;
    padding: 10px 20px;
 }
 .nav-center{
    display: none;
 }
 /*  ! Header Section End */
 /* ! Hero Section Start */
 .main-hero {
   background: url(https://cyberroshan.github.io/IRCTC-Redesign-Clone//images/heroimage.png) no-repeat top center;
   background-size: cover;
 }
 .mid-hero {
   max-width: 100%;
   padding: 0px 20px;
 }
 .mid-hero > h1 {
   font-size: 40px;
   text-align: center;
 }
 .mid-hero > form {
   display: none;
 }
 /* ! Hero Section End */
 /* ! Services Section Start */
 .mid-services {
   max-width: 100%;
   padding: 50px 20px;
 }
 .mid-services > img {
   display: none;
 }
 .services-container {
   flex-direction: column;
 }
 .services-items {
   flex-basis: 100%;
 }
 /* ! Services Section End */
 /* ! Assistance Section Start */
 .main-assistance {
   background: url(https://cyberroshan.github.io/IRCTC-Redesign-Clone//images/custcare.png) no-repeat top left;
 }
 .assistances-sides {
   flex-basis: 100%;
   padding: 0px 20px;
 }
 .bottom-line-box > p {
   display: none;
 }
 .bottom-line-box > .mobile-p {
   font-size: 16px;
   display: block;
 }
 /* ! Assistance Section End */
 /* ! Plan Holidays Section Start */
 .mid-holiday {
   max-width: 100%;
   padding: 70px 20px;
 }
 .holiday-container {
   flex-direction: column;
 }
 .holiday-items {
   flex-basis: 31%;
   background-color: #181a1c;
   padding: 20px;
   border-radius: 20px;
 }
 .holiday-items {
   flex-basis: 100%;
 }
 /* ! Plan Holidays Section End */
 /* ! Footer Section Start */
 .mid-footer {
   max-width: 100%;
   padding: 0px 20px;
 }
 .footer-rows {
   flex-direction: column;
   gap: 50px;
 }
 .footer-rows > .foot1-left {
   flex-direction: column;
 }
 .row-items:nth-child(2) 
 .row-items:nth-child(3)
 .row-items:nth-child(4)
 .row-items:nth-child(5)
 .row-items:nth-child(9){
   display: none;
   background-color: red;
 }
 .footer-rows2 {
   text-align: center;
 }
 /* ! Footer Section End */
}

@media only screen and (min-width: 576px) and (max-width: 991px){
  /* ! Header Section Start */
  nav {
    max-width: 100%;
    padding: 20px;
  }
  .nav-center .m-none{
    display: none;
  }
  .nav-center > li a {
    font-size: 16px;
  }
  /* ! Header Section End */
  /* ! Hero Section Start */
  .mid-hero {
    max-width: 100%;
    padding: 0px 20px;
    text-align: center;
  }
  .mid-hero > form {
    width: 90%;
  }
  form > .row {
    gap: 20px;
  }
  .row-item > input {
    width: 100%;
  }
  .row2{
    margin: auto;
  }
  .row-item > select {
    width: 100%;
  }
  #Quota,#All-classes{
    display: none;
  }
  .tick {
    display: flex;
    flex-direction: column;
  }
  /* ! Hero Section End */
  /* ! Services Section Start */
  .mid-services {
    max-width: 100%;
    padding: 0px 20px;
  }
  .services-items {
    flex-basis: 25%;
  }
  /* ! Services Section End */
  /* ! Assistance Section Start */
  .main-assistance {
    background: url(https://cyberroshan.github.io/IRCTC-Redesign-Clone//images/custcare.png) no-repeat top center;
  }
  .assistances-sides {
    flex-basis: 100%;
    padding: 0px 20px;
  }
  .bottom-line-box {
    height: 80px;
  }
  .bottom-line-box > p {
    text-align: center;
  }
  /* ! Assistance Section End */
  /* ! Plan Holidays Section Start */
  .mid-holiday {
    max-width: 100%;
    padding: 70px 20px;
  }
  .holiday-items {
    flex-basis: 48%;
  }
  /* ! Plan Holidays Section End */
  /* ! Footer Section Start */
  .mid-footer {
    max-width: 100%;
    padding: 0px 20px;
  }
  .footer-rows2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  /* ! Footer Section End */
}